# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.expo/
web-build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
*.log
.idea/
.vscode/
*.swp

# Native
android/
ios/
*.jks
*.p8
*.p12
*.mobileprovision

# Prisma
apps/server/prisma/*.db
apps/server/prisma/*.db-journal

# Misc
coverage/
.turbo/
